<% content_for(:html_title) { "Films" } %>

<h2 class="title is-2">Star Wars Films</h2>

<ol class="ml-5">
  <% @films.each do | film | %>
    <li><%= link_to film.title, film %> (<%= film.release_date %>)</li>
  <% end %>
</ol>
