<h2 class="title is-2"><%= @film.title %></h2>

<p class="mb-5">There are <%= @film.characters.count%> characters in this film.<p>

<%# TODO: Order the characters%>
<h3 class="title is-3">Characters in <%= @film.title %>: </h3>
<ul>
  <% @film.characters.each do | character | %>
    <li><%= link_to character.name, character %></li>
  <% end %>
</ul>