<% content_for(:html_title) { "Characters"} %>

<h2 class="title is-2">Star Wars Characters</h2>

<h4>Search by Character:</h4>
  <div class="field has-addons">
    <div class="control">
      <%= form_tag(characters_path, method: :get) do %>
        <%= text_field_tag(:search, params[:search], class: "input is-primary is-inline") %>
        <%= submit_tag("Search", class: "button is-primary") %>
      <% end %>
    </div>
  </div>

<ol class="ml-5">
  <% @characters.each do | character | %>
    <li><%= link_to character.name, character %></li>
  <% end %>
</ol>
