<hr>

<footer>
  <ul class="mt-5 content has-text-centered  is-flex is-flex-direction-row is-justify-content-space-around">
    <li class="mt-1 "><%= link_to "Home", root_path %></li>
    <li><%= link_to "Films", films_path %></li>
    <li><%= link_to "Characters", characters_path %></li>
    <li><%= link_to "Species", species_index_path %></li>
  </ul>
</footer>